{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Création d'une nouvelle vue{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div class="container-fluid">
        <div class="row features">
            <div class="col-xs-12">
                <p>FILTRES: <button class="btn btn-success"><i class="fa fa-pencil-square-o"> | Util. tous</i></button>
                    <button class="btn btn-success"><i class="fa fa-pencil-square-o"> | Exerc. Tous</i></button>
                    <button class="btn btn-info"><i class="fa fa-pencil-square-o"> | Score</i> </button>
                    <button class="btn btn-info"><i class="fa fa-pencil-square-o"> | % réalisés</i></button>
                    <button class="btn btn-info"><i class="fa fa-pencil-square-o"> | Moyenne</i></button>
            </div>
            <div class="col-xs-2">
                <div class="form">
                    <p>Choisissez un type de vue:</p>
                    <img src="{{ asset('bundles/clarolinecore/images/mockup/chart_om.png') }}" title="Vue histogramme" height="48px" width="48px">
                    <img src="{{ asset('bundles/clarolinecore/images/mockup/chart.png') }}" title="Vue bâtonnets" height="48px">
                    <img src="{{ asset('bundles/clarolinecore/images/mockup/chart-line.png') }}" title="Vue graphique" height="48px">
                    <img src="{{ asset('bundles/clarolinecore/images/mockup/chart-pie.png') }}" title="Vue en camembert" height="48px"</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <p><span class="pull-right">
            <a href="dashboard-view-7.html"><button type="button" class="btn btn-primary">OK</button></a>
            <button type="button" class="btn btn-default">Annuler</button>
            </span></p>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>

{% endblock %}