{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Création d'une vue{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div id="conteneur" class="container-fluid">
        <div class="row">
            <main class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <article>
                    <p>Nom de la vue: <input type="text" placeholder=" Nom de la vue"></p>
                    <p><button class="btn btn-success"><i class="fa fa-pencil-square-o"></i> | Utilisateurs de mes EA</button></p>
                    <p><button class="btn btn-success"><i class="fa fa-pencil-square-o"></i> | Tous les exercices</button></p>
                    <div class="form">
                        <label for="sel2">Variables :</label>
                        <select multiple class="form-control" id="sel2">
                            <option>Scores</option>
                            <option>Moyenne</option>
                            <option>% d'exercices terminés</option>
                            <option>Nombre de sujets</option>
                            <option>Nombre d'étapes réalisées</option>
                            <option>Nombre de connexions</option>
                            <option>Nombre de consultations</option>
                            <option>Nombre de posts</option>
                            <option>Nombre de pages</option>
                            <option>Nombre d'interventions</option>
                            <option>etc...</option>
                        </select>
                    </div>
                </article>
            </main>
            <aside class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
                <div class="col-xs-12">
                    <div class="form">
                        <p>Choisissez un type de vue:</p>
                        <img src="{{ asset('bundles/clarolinecore/images/mockup/chart_om.png') }}" title="Vue histogramme" height="48px" width="48px">
                        <img src="{{ asset('bundles/clarolinecore/images/mockup/chart.png') }}" title="Vue bâtonnets" height="48px">
                        <img src="{{ asset('bundles/clarolinecore/images/mockup/chart-line.png') }}" title="Vue graphique" height="48px">
                        <img src="{{ asset('bundles/clarolinecore/images/mockup/chart-pie.png') }}" title="Vue en camembert" height="48px"</p>

                    </div>
                </div>

            </aside>
        </div>
    </div>
</div>
<div class="panel-footer" style="text-align: right">
    <button type="button" class="btn btn-primary" title="Créer la vue"><i class="fa fa-plus"> Créer la vue</i></button>
</div>

<div class="container">
    <div class="row features" style="margin-top: 20px">
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-lg" style="font-style: italic">Après avoir choisi le type de vue qu'il désire, l'utilisateur peut finaler son travail en cliquant sur "Créer la vue".</br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.csss"
      rel="stylesheet"
/>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
>
</script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
</script>

{% endblock %}