{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Tous les utilisateurs - Tous les exercices{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div class="container-fluid">
        <div class="row features">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-8">
                <p><button class="btn btn-primary"><i class="fa fa-chevron-left" title="Retour à l'accueil des vues"></i> Mes vues</button></p>
                <p>FILTRES: <button class="btn btn-success"><i class="fa fa-pencil-square-o"> | Utilisateurs de mes EA</i></button>
                <button class="btn btn-success"><i class="fa fa-pencil-square-o"> | Tous les exercices</i></button>
                <button class="btn btn-info"><i class="fa fa-pencil-square-o"> | Score</i> </button>
                <button class="btn btn-info"><i class="fa fa-pencil-square-o"> | Moyenne</i></button>
                <button class="btn btn-info"><i class="fa fa-pencil-square-o"> | Pourcentage terminés</i></button>
            </div>
<!--
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <i class="fa fa-pencil-square-o fa-3x" title="Modifiez cette vue"></i> | 
                <i class="fa fa-floppy-o fa-3x" title="Enregistrez cette vue"></i>
            </div>
-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <img src="{{ asset('bundles/clarolinecore/images/mockup/floppy-disk-128.png') }}" title="Enregistrez votre vue" height="48px">
                <img src="{{ asset('bundles/clarolinecore/images/mockup/compose.png') }}" title="Modifiez vos filtres" height="48px"></p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a class="btn btn-xs btn-primary" role="button" href="#" data-toggle="dropdown">
                    Actions
                    <span class="fa fa-gear fa-2x" title="Menu d'actions">
                    </span>
                    <i class="caret"></i>
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>Envoyer un message</li>
                        <li>Exporter vers Excel</li>
                        <li>Imprimer en PDF</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row features">
<!--                <div class="col-xs-1">
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart_om.png') }}" title="Vue histogramme" height="48px" width="48px"></p>
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart.png') }}" title="Vue bâtonnets" height="48px"></p>
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart-line.png') }}" title="Vue graphique" height="48px"></p>
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart-pie.png') }}" title="Vue en camembert" height="48px"</p>
            </div>
-->
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td></td>
                            <td>Utilisateur</td>
                            <td></td>
                            <td>Score</td>
                            <td>Moyenne</td>
                            <td>% terminé</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o"></i></td>
                            <td>Jean-Jacques</td>
                            <td style="text-align: center"><i class="fa fa-search" title="Voir détails"></i></td>
                            <td>15/25</td>
                            <td>60%</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width:84%">
                                        84%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o"></i></td>
                            <td>David</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>18/30</td>
                            <td>60%</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">75%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-square-o"></i>
                                </i></td>
                            <td>Philippe</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>17/25</td>
                            <td>68%</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width:68%">68%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o"></i></td>
                            <td>Nathalie</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>21/25</td>
                            <td>84%</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width:62%">
                                        62%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-square-o"></i></td>
                            <td>Shahira</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>19/25</td>
                            <td>76%</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width:78%">78%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o"></i></td>
                            <td>Christophe</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>23/25</td>
                            <td>92%</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width:89%">
                                        89%
                                    </div>
                                </div>
                           </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <p>
                <span class="pull-right locale-select label label-default">FR</span>
                <span>Développé par <a href="http://www.claroline.net" target="blank">Claroline</a></span>
            </p>
        </div>
    </div>
</div>

{% endblock %}